section.contact-us form div.flex form {
  flex-grow: 1;
}
.contact-animation {
  align-self: flex-end;
  height: 500px;
  margin-left: 50%;
}
section.contact-us .icon-envelope {
  color: var(--subtitle);
  margin-right: 1rem;
  font-size: 1.8rem;
}

section.contact-us .title {
  font-size: 2rem;
  color: var(--title);
  margin-bottom: 1rem;
}
section.contact-us .sub-title {
  color: var(--subtitle);
  margin-bottom: 2rem;
  line-height: 1.7rem;
}

section.contact-us label {
  color: var(--subtitle);
}

section.contact-us #email,
section.contact-us #message {
  all: unset;
  background-color: rgba(63, 63, 70, 0.2);
  border: 1px solid rgb(63, 63, 70);
  width: 16rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 1.1rem;
}

section.contact-us #message {
  min-height: 9rem;
  resize: vertical;
}

section.contact-us .submit-container {
  justify-content: flex-end;
}

section.contact-us .submit {
  background-color: rgba(36, 37, 46, 1);
  border: 1px solid rgb(63, 63, 70);
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 6px;
  transition: 0.3s;
  margin-top: 1.8rem;
  align-self: flex-end;
}

section.contact-us .submit:hover {
  scale: 0.95;
}

section.contact-us #email:focus,
section.contact-us #message:focus,
section.contact-us #email:hover,
section.contact-us #message:hover {
  border: 1px solid var(--blue2);
}

.light section.contact-us #email:focus,
.light section.contact-us #message:focus,
.light section.contact-us #email:hover,
.light section.contact-us #message:hover {
  border: 1px solid rgb(78, 80, 80);
}

.light section.contact-us #email,
.light section.contact-us #message {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.451);
  box-shadow: 1px 1px 1px rgba(73, 73, 75, 0.1);
  color: #232324;
}

/* 
=======================================
    3- Responsive Design (Media Query)
=======================================
*/
@media (max-width: 1800px) {
  section.contact-us .contact-animation {
    margin-left: 20%;
    height: 360px;
  }
}
@media (max-width: 1250px) {
  section.contact-us .contact-animation {
    display: none;
  }
}
@media (max-width: 600px) {
  section.contact-us .animation {
    display: none;
  }
  section.contact-us form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  section.contact-us form div.flex {
    flex-direction: column;
    align-items: start;
  }

  section.contact-us #email,
  section.contact-us #message {
    width: 100%;
    margin-left: 0;
    padding: 0.7rem 0;
    margin-top: 1rem;
  }

  section.contact-us .submit {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}
