/*
====================
 table of contents
====================
 
1. Left Section
2- Right Section ==> Animation
3- Responsive Design (Media Query)
*/

/* 
=====================
    1. Left Section
=====================
*/
section.hero {
  margin-top: 3rem;
}
section.hero .parent-avatar.flex {
  align-items: center;
  gap: 0.6rem;
  min-height: 120px;
}

section.hero .left-section {
  flex-grow: 1;
  flex: 3;
}

section.hero .avatar {
  width: 120px;
  border: 3px solid #51311b;
  border-radius: 50%;
}

section.hero .icon-verified {
  color: var(--blue);
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

section.hero h1.title {
  font-size: 2.5rem;
  line-height: 3.3rem;
  margin: 18px 0;
  color: var(--title);
}
section.hero h2.title-description {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin-bottom: 18px;
  color: var(--title);
}

section.hero p.sub-title {
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
  color: var(--subtitle);
}

section.hero .all-techs,
section.hero .all-icons {
  font-size: 2rem;
  gap: 1.5rem;
  margin-bottom: 1rem;
  color: var(--subtitle);
}

section.hero .all-icons .icon:hover,
section.hero .all-techs .icon:hover {
  font-size: 1.45rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}

.cv-btn {
  background-color: rgba(36, 37, 46, 1);
  border: 1px solid rgb(63, 63, 70);
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 6px;
  transition: 0.3s;
  margin-top: 1.5rem;
  align-self: flex-end;
}

/* 
===================================
    2- Right Section ==> Animation
===================================
*/

.animation {
  flex: 2;
  margin-top: 7rem;
  margin-right: -5rem;
  transition: 100px 60px;
}

/* 
=======================================
    3- Responsive Design (Media Query)
=======================================
*/
@media (max-width: 1250px) {
  .animation {
    display: none;
  }
}
@media (max-width: 450px) {
  section.hero h1.title {
    font-size: 1.5rem;
  }
}
@media (max-width: 750px) {
  section.hero .all-icons,
  section.hero .all-techs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
  }
}
